<h4>Agregar personaje</h4>
    <form action="" (ngSubmit)="addCharacter()">
      <input
      type="text"
      name="name"
      [(ngModel)]="newCharacter.name"
      placeholder="Personaje"
      class="form-control mb-2">

      <input
      type="number"
      name="power"
      [(ngModel)]="newCharacter.power"
      placeholder="Poder"
      class="form-control mb-2">


      <button class="btn btn-primary" type="submit"> Agregar personaje</button>
    </form>
    <pre>{{newCharacter | json}}</pre>
